@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EMPRESA ELECTRICA</h1>
    <p class="lead">Administracion de datos.</p>

    <p>
        @Html.ActionLink("Empleados", "Index", "Empleadoes")
    </p>
    <p>
        @Html.ActionLink("Tipo de controles", "Index", "TipoControls")
    </p>

    <p>
        @Html.ActionLink("Registro de ingresos-salidas", "Index", "RegistroIngresoSalidas")
    </p>
    <p>
        @Html.ActionLink("Asignar tarea", "Index", "AsignarTareas")
    </p>
    <p>
        @Html.ActionLink("Registro de control", "Index", "RegistroControls")
    </p>

</div>
